img, legend {
  border: 0
}
body, figure {
  margin: 0
}
body, sub, sup {
  position: relative
}
.link, footer a {
  text-decoration: none
}
.title, .warning {
  font-weight: 700
}
.intro:before, .mosaic--2:after, .mosaic:after {
  content: ''
}
.field__error, .field__error:before {
  box-shadow: 0 0 1.0625rem 0 rgba(0, 0, 0, .37)
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block
}
audio, canvas, video {
  display: inline-block
}
audio:not([controls]) {
  display: none;
  height: 0
}
[hidden] {
  display: none
}
.intro:before, .lead, .title, .warning {
  display: block
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
a:focus {
  outline: dotted thin
}
a:active, a:hover {
  outline: 0
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
abbr[title] {
  border-bottom: .0625rem dotted
}
dfn {
  font-style: italic
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}
mark {
  background: #ff0;
  color: #000
}
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em
}
pre {
  white-space: pre-wrap
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019"
}
small {
  font-size: 80%
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
svg:not(:root) {
  overflow: hidden
}
fieldset {
  border: .0625rem solid silver;
  margin: 0 .125rem;
  padding: .35em .625em .75em
}
legend {
  padding: 0
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0
}
button, input {
  line-height: normal
}
button, select {
  text-transform: none
}
.buttons .button, .disclaimer, .free, .warning {
  text-transform: uppercase
}
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}
button[disabled], html input[disabled] {
  cursor: default
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}
textarea {
  overflow: auto;
  vertical-align: top
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
html {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased
}
*, :after, :before {
  box-sizing: inherit
}
.results, .step, .upgrade, body, form, html {
  height: 100%;
  width: 100%
}
body {
  font-family: Roboto, sans-serif;
  color: #fff;
  background: #fff;
}
.intro, .results, .step, .upgrade {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden
}
.captcha__item, a, button {
  -webkit-tap-highlight-color: transparent;
  outline: 0
}
footer {
  position: fixed;
  bottom: 0;
  z-index: 100
}
footer ul {
  margin: 0 0 .3125rem;
  padding: 0
}
footer a {
  font-size: .546875rem;
  color: #000;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}
.step--10 footer a, .step--11 footer a, .step--13 footer a, .step--14 footer a, .step--2 footer a, .step--3 footer a, .step--4 footer a, .step--5 footer a, .step--6 footer a, .step--8 footer a, .step--9 footer a {
  color: #fff
}
.wrapper {
  width: 100%;
  max-width: 20.2rem;
  margin: 0 auto
}
.results, .step, .upgrade {
  position: absolute;
  height: calc(100% - 2.375rem);
  margin: 2.1rem auto 0;
  padding: 0 1.25rem;
  text-align: center;
  -webkit-transition: transform .4s ease;
  transition: transform .4s ease;
  background-position: top center
}
.no-header .results, .no-header .step, .no-header .upgrade {
  height: 100%;
  margin: 0 auto;
}
.no-header .header {
  display: none;
}
.lead {
  margin-top: -.125rem;
  margin-bottom: .8125rem;
  font-size: 1.125rem
}
.intro {
  max-width: 10.8125rem;
  margin: 0 auto .875rem;
  background-image: url(../images/01.jpg);
  background-position: center;
  border-radius: 100%
}
.intro:before {
  padding-bottom: 100%
}
.warning {
  margin: 1rem 0;
  font-size: .875rem
}
.caption {
  position: absolute;
  width: 95%;
  /* background-color: rgba(255,255,255,0.8); */
  padding: 20px 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.title {
  margin-bottom: .6375rem;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #000;
  text-align: center;
}
.title strong {
  color: #F8E71C
}
div[data-step="1"] {
  background-image: url(../images/01.jpg)
}
div[data-step="2"] {
  background-image: url(../images/02.jpg)
}
div[data-step="3"] {
  background-image: url(../images/03.jpg)
}
div[data-step="4"] {
  background-image: url(../images/04.jpg)
}
div[data-step="5"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fd267d;
  background: #000;
}
.label__robot--1 {
  padding: .8125rem 0 .375rem;
  font-size: 1.25rem;
  font-family: 'Roboto Condensed', sans-serif
}
.label__robot--2 {
  font-size: .75rem;
  padding-bottom: .5rem;
  line-height: 1.6
}
.mosaic {
  max-width: 6.25rem;
  margin: 2rem auto 1.5rem;
  background-image: url(../images/https://cdn-adef.akamaized.net/landings/159364/images/012.jpg);
  background-repeat: no-repeat;
  background-size: cover
}
.mosaic:after {
  display: block;
  padding-bottom: 100%
}
.field {
  position: relative;
  max-width: 17.125rem;
  margin: 0 auto .625rem
}
.field__input {
  width: 100%;
  padding: 1.0625rem .875rem;
  border: 0;
  font-size: 1rem;
  background-color: #ECECEC;
  letter-spacing: .025rem;
  outline: 0;
  border-radius: .25rem
}
::-webkit-input-placeholder {
  color: #9B9B9B
}
::-moz-placeholder {
  color: #9B9B9B
}
:-ms-input-placeholder {
  color: #9B9B9B
}
:-moz-placeholder {
  color: #9B9B9B
}
.field__show {
  position: absolute;
  right: .4375rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: 0 0;
  border: 0
}
.field__show__eyeon {
  display: none;
  position: relative;
  top: .0625rem
}
.field__show.is--active .field__show__eyeon {
  display: block
}
.field__show.is--active .field__show__eyeoff {
  display: none
}
.match, .percentage {
  line-height: 1;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif
}
.mosaic--2 {
  width: 100%;
  max-width: 12rem;
  margin: 0 auto 1.6875rem;
  background-image: url(../images/014-2.png);
  background-repeat: no-repeat;
  background-size: cover
}
.mosaic--2:after {
  display: block;
  padding-bottom: 46%
}
.match {
  font-size: 2.375rem;
  letter-spacing: .05rem
}
.percentage {
  position: relative;
  top: -.4375rem;
  left: 1rem;
  font-size: 8.0625rem
}
.percentage:after {
  content: '%';
  display: inline-block;
  font-size: 3.125rem
}
.field__error:before, .logo:after {
  content: ''
}
.match-result {
  position: relative;
  top: -.1875rem;
  margin-bottom: 1.625rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  opacity: 0;
  -webkit-transition: opacity .3s .1s ease-out;
  transition: opacity .3s .1s ease-out
}
.button__perc, .button__text, .header {
  -webkit-transition: all .3s ease-out
}
.match-result.is--visible {
  opacity: 1;
  color: #fff;
}
.free {
  padding: .875rem 0 .1875rem;
  font-size: 3.3125rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: -.1875rem;
  color: #ED4653;
  word-spacing: .5rem;
  text-indent: -.6875rem
}
.label__email {
  display: block;
  width: 102%;
  margin-bottom: 1.1875rem;
  margin-left: -1%;
  color: #000;
  font-size: 1rem;
  line-height: 1.4
}
.disclaimer, .disclaimer a {
  color: #9B9B9B
}
.disclaimer {
  width: 95%;
  max-width: 600px;
  margin-top: 1.8125rem;
  margin-left: auto;
  margin-right: auto;
  font-size: .5rem;
  font-weight: 700;
  letter-spacing: .05375rem;
  line-height: 1.7
}
.disclaimer span {
  text-decoration: underline;
}
.field__error {
  position: absolute;
  top: 100%;
  z-index: 10;
  width: 94%;
  margin-top: .375rem;
  font-size: .625rem;
  font-weight: 700;
  text-align: left;
  border-radius: .4375rem;
  transform: translateY(30%);
  opacity: 0
}
.field__error:before {
  position: absolute;
  z-index: -1;
  bottom: 100%;
  left: .875rem;
  display: block;
  width: 1.125rem;
  height: 1.875rem;
  background-color: #ED4653;
  transform: translateY(73%)
}
.field__error p {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: .9375rem 1.3125rem .6875rem;
  background-color: #ED4653;
  border-radius: .4375rem;
  line-height: 1.6
}
.field__input--error ~ .field__error {
  -webkit-animation-name: appear;
  -webkit-animation-duration: .3s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: appear;
  animation-duration: .3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%)
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(30%)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}
.field__valid {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 1.25rem;
  height: 1rem;
  background: url(../images/https://cdn-adef.akamaized.net/landings/159364/images/check.svg) no-repeat;
  background-size: 1.1rem 1.1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: .3125rem 0 .0625rem;
  z-index: 200;
  opacity: 1;
  visibility: visible;
  transition: all .3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,121,84,1);
  background: -moz-linear-gradient(-45deg, rgba(255,121,84,1) 0%, rgba(253,38,124,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,121,84,1)), color-stop(100%, rgba(253,38,124,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,121,84,1) 0%, rgba(253,38,124,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,121,84,1) 0%, rgba(253,38,124,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,121,84,1) 0%, rgba(253,38,124,1) 100%);
  background: linear-gradient(135deg, rgba(255,121,84,1) 0%, rgba(253,38,124,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7954', endColorstr='#fd267c', GradientType=1 );
}
.logo {
  display: inline-block;
  text-align: center;
}
.logo img {
  max-width: 5.375rem;
  margin: 0 auto;
}
.logo-sm {
  line-height: 0;
  display: inline-block;
  margin-right: 7px;
}
.logo-sm img {
  max-width: 1.5rem;
}
.step > .userLocation {
  font-size: 30px;
  display: inline-block;
  vertical-align: 12%;
  margin-right: 0;
  position: absolute;
  top: 10px;
  right: 5px;
}
.step .userLocation .flag-icon {
  display: block;
  top: 0;
  margin-right: 0;
  border-radius: 50%;
}
.girl__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: .8rem;
  padding-bottom: 2.5rem;
  background-color: rgba(0, 0, 0, .8)
}
.girl__overlay b, .girl__overlay strong {
  color: #FAF700
}
.button {
  width: 100%;
  max-width: 17.125rem;
  padding: 1.125rem .625rem;
  border: 0;
  background: #fff;
  border-radius: 50px;
  font-weight: 700;
}
.button.button-2 {
  color: #fff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.27);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.27);
  background: #fd267d;
  background: -moz-linear-gradient(left, #fd267d 0%, #ff7854 100%);
  background: -webkit-linear-gradient(left, #fd267d 0%, #ff7854 100%);
  background: linear-gradient(to right, #fd267d 0%, #ff7854 100%);
  border-bottom: 1px solid transparent;
}
.button.gradient {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-size: 400% 400%;
  color: #fff
}
.button--blue:before, .button.gradient:after, .button.gradient:before {
  content: '';
  position: absolute
}
@-webkit-keyframes glare {
  0% {
    -webkit-transform: translate(0, -70%) rotate(0)
  }
  25% {
    -webkit-transform: translate(30%, -50%) rotate(90deg)
  }
  50% {
    -webkit-transform: translate(0, -30%) rotate(180deg)
  }
  75% {
    -webkit-transform: translate(-30%, -50%) rotate(270deg)
  }
  100% {
    -webkit-transform: translate(0, -70%) rotate(360deg)
  }
}
@keyframes glare {
  0% {
    transform: translate(0, -70%) rotate(0)
  }
  25% {
    transform: translate(30%, -50%) rotate(90deg)
  }
  50% {
    transform: translate(0, -30%) rotate(180deg)
  }
  75% {
    transform: translate(-30%, -50%) rotate(270deg)
  }
  100% {
    transform: translate(0, -70%) rotate(360deg)
  }
}
.buttons {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
}
.buttons .button {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 27px;
  min-height: 44px;
  position: relative;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  padding: 0 10px;
  text-decoration: none;
  margin: 0;
  width: 48%;
  max-width: 300px;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.27);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.27);
  background: #fd267d;
  background: -moz-linear-gradient(left, #fd267d 0%, #ff7854 100%);
  background: -webkit-linear-gradient(left, #fd267d 0%, #ff7854 100%);
  background: linear-gradient(to right, #fd267d 0%, #ff7854 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd267d', endColorstr='#ff7854', GradientType=1);
}
.buttons .button--no {
  background: #2a313d;
  border: 1px solid #fd267d;
  color: #fd267d;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.buttons .button--no:active {
  background: #fff;
  border-color: transparent;
}
.button__text .alternative, 
.is--clicked .button__text span:not(.alternative) {
  display: none
}
.buttons .button[disabled] {
  color: #000
}
.button__perc, 
.button__text {
  /* position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
  transition: all .3s ease-out */
}
.button__perc {
  opacity: 0;
  top: 64%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  transform: translateY(-50%) scale(0)
}
.is--clicked .button__perc {
  opacity: 1;
  transform: translateY(-50%) scale(1)
}
.button__perc:after {
  content: '%';
  font-size: .75rem
}
.captcha__item:after, .captcha__item:before, .info:before, .mosaic--3:after {
  content: ''
}
.button--blue .button__text {
  color: #5395EB
}
.button--red .button__text {
  color: #FE5A7C
}
.button__arrow {
  margin-left: .4375rem;
  vertical-align: baseline
}
.is--clicked .button__text {
  top: .75rem;
  font-size: .6875rem
}
.is--clicked .button__text .alternative {
  display: block
}
.info__wrap {
}
.info__wrap {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  z-index: 5;
  text-align: left;
  font-size: 1.1rem;
  padding: 0 0 1rem;
  font-weight: 700
}
.info {
  display: inline-block;
  text-align: left;
  background: #454654;
    padding: 10px;
}
.name__wrap {
  display: block;
}
.name__wrap sub {
  font-size: .85rem;
  bottom: auto;
  display: none;
}
.info .userLocation,
.info .user_city {
  font-size: .85rem;
  font-weight: 400;
}
.info .userLocation::before,
.info .user_city::before {
  content: '';
  width: 16px;
  height: 16px;
  background: url(../images/icon.svg) center center no-repeat;
  background-size: 11px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 3px;
}
.info__distance {
  font-size: .85rem;
  font-weight: 400;
  display: inline-block;
}
.results {
  padding-bottom: 2.5rem;
  background-color: #fff;
  color: #000;
}
.list, .list--2 {
  padding: 0;
  list-style: none
}
.list {
  min-height: 3rem;
  margin: 0 0 4.8rem
}
.list--2 {
  margin: 0 0 3.4375rem
}
.list__single {
  margin: 1.25rem 0 0;
  font-size: .984375rem;
  text-align: center;
  line-height: 1.3125rem
}
.list__single-big {
  font-size: 1.375rem;
  color: #ED4653;
  font-weight: 700
}
.list__multi {
  min-height: 1.5rem;
  margin-bottom: .7rem;
  padding-left: 2.15rem;
  padding-top: .3125rem;
  text-align: left;
  font-size: .984375rem;
  background: url(../images/https://cdn-adef.akamaized.net/landings/159364/images/check.svg) 0 .4375rem no-repeat;
  background-size: 1.3em 1.2em
}
.list-multi strong {
  color: #FAF700
}
div[data-finish] {
  max-width: 19.6rem;
  margin: 0 auto
}
.link, .mosaic--3 {
  margin-left: auto;
  margin-right: auto
}
.spinner {
  position: absolute;
  top: 5.3rem;
  left: 0;
  width: 100%
}
.spinner__inner {
  width: 100%;
  color: #9B9B9B;
  padding: 0 6.25rem;
  text-align: center
}
.spinner__inner label {
  font-size: 1.25rem;
  opacity: 0;
  display: inline-block
}
.spinner__inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out
}
.spinner__inner label:nth-child(5) {
  -webkit-animation: lol 3s .1s infinite ease-in-out;
  animation: lol 3s .1s infinite ease-in-out
}
.spinner__inner label:nth-child(4) {
  -webkit-animation: lol 3s .2s infinite ease-in-out;
  animation: lol 3s .2s infinite ease-in-out
}
.spinner__inner label:nth-child(3) {
  -webkit-animation: lol 3s .3s infinite ease-in-out;
  animation: lol 3s .3s infinite ease-in-out
}
.spinner__inner label:nth-child(2) {
  -webkit-animation: lol 3s .4s infinite ease-in-out;
  animation: lol 3s .4s infinite ease-in-out
}
.spinner__inner label:nth-child(1) {
  -webkit-animation: lol 3s .5s infinite ease-in-out;
  animation: lol 3s .5s infinite ease-in-out
}
.link {
  display: block
}
.upgrade {
  padding: 0 0 2.5rem;
  background-color: #fff;
  color: #000
}
.hookups, .receive {
  display: block;
  padding: 0 1.25rem;
  font-weight: 700
}
.receive {
  margin-bottom: .5625rem;
  font-size: 1.5rem;
  color: #ED4653
}
.receive > strong {
  color: #000;
  font-size: 1.875rem
}
.hookups {
  margin-bottom: 1.75rem;
  color: #818689;
  font-size: .875rem;
  letter-spacing: .0125rem
}
.upgrade .button {
  letter-spacing: .03125rem
}
.upgrade .button__arrow {
  margin-left: .625rem
}
.nothanks {
  margin-top: 1.25rem;
  font-size: .8125rem;
  color: #818689
}
.nothanks a {
  color: #5395EB
}
.step[data-effect=zoom] {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0)
}
.step[data-effect=left] {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%)
}
.step[data-effect=up] {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%)
}
.step[data-effect=turn] {
  -webkit-transform: rotate3d(0, 1, 0, 90deg);
  -moz-transform: rotate3d(0, 1, 0, 90deg);
  -ms-transform: rotate3d(0, 1, 0, 90deg);
  -o-transform: rotate3d(0, 1, 0, 90deg);
  transform: rotate3d(0, 1, 0, 90deg)
}
.step[data-step="1"] {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none
}
@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-18.75rem)
  }
  33%, 66% {
    opacity: 1;
    -webkit-transform: translateX(0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(18.75rem)
  }
}
@keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-18.75rem);
    transform: translateX(-18.75rem)
  }
  33%, 66% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(18.75rem);
    transform: translateX(18.75rem)
  }
}
@media only screen and (orientation: landscape) {
  .results, .step, .upgrade {
    overflow: auto
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 18px
  }
}
@media only screen and (min-width: 768px) {
  .results, .step, .upgrade {
    overflow: hidden;
  }
  html {
    font-size: 24px
  }
}
@media only screen and (min-width: 1024px) {
  [data-step="3"] {
    background-position: bottom center
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 275dpi) {
  div[data-step="1"] {
    background-image: url(../images/01-2.jpg)
  }
  body.lang-nl div[data-step="1"] {
    background-image: url(../images/01-2.jpg)
  }
  div[data-step="2"] {
    background-image: url(../images/02-2.jpg)
  }
  body.lang-nl div[data-step="2"] {
    background-image: url(../images/02-2.jpg)
  }
  div[data-step="3"] {
    background-image: url(../images/03-2.jpg)
  }
  div[data-step="4"] {
    background-image: url(../images/04-2.jpg)
  }
  .mosaic--2 {
    background-image: url(../images/014-2.png)
  }
}
@media (-webkit-min-device-pixel-ratio: 2.5),(min-resolution: 400dpi) {
  div[data-step="1"] {
    /* background-image: url(../images//landings/159366/1559545636/images/03.jpg) */
  }
  div[data-step="2"] {
    /* background-image: url(../images//landings/159366/1559545636/images/02.jpg) */
  }
  div[data-step="3"] {
    /* background-image: url(../images/../images/3x/05.jpg) */
  }
  div[data-step="4"] {
    /* background-image: url(../images/../images/3x/013.jpg) */
  }
  .mosaic--2 {
    background-image: url(../images/014-2.png)
  }
}
@media (-webkit-min-device-pixel-ratio: 3.5),(min-resolution: 500dpi) {
  div[data-step="1"] {
    /* background-image: url(../images//landings/159366/1559545636/images/03.jpg) */
  }
  div[data-step="2"] {
    /* background-image: url(../images//landings/159366/1559545636/images/02.jpg) */
  }
  div[data-step="3"] {
    /* background-image: url(../images/../images/4x/05.jpg) */
  }
  div[data-step="4"] {
    /* background-image: url(../images/../images/4x/013.jpg) */
  }
  .mosaic--2 {
    background-image: url(../images/014-2.png)
  }
}
/* =========================================================================
Additional
=========================================================================== */
a.button {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.title.red span {
  display: inline-block;
  padding: .255rem .655rem;
  border-radius: .4375rem;
  color: #fff;
  margin-bottom: .123rem;
}
.title.red span:last-child {
  margin-bottom: 0;
}
.caption-center .caption {
  top: 50% !important;
  bottom: auto !important;
  transform: translateY(-50%);
}
.caption-bottom .caption {
  top: 63% !important;
  bottom: auto !important;
  transform: none;
}
/* =========================================================================
Unsubscribe
=========================================================================== */
.unsubscribe {
  font-size: 11px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.unsubscribe a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.unsubscribe a:hover {
  color: #fff;
  text-decoration: underline;
}
body.step--5 .unsubscribe a {
  color: #000;
}
/* Screen 736px */
@media (max-width: 767px) {
  .header .userLocation {
    font-size: 30px;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .caption-center .caption {
    top: auto !important;
    bottom: 65px !important;
    transform: translateY(0);
    padding-bottom: 0;
  }
  div[data-step="5"] {
    justify-content: flex-start;
    padding: 20px 1.25rem;
  }
  .name__wrap {
    display: inline-block;
  }
  body.step--5 .unsubscribe {
    position: relative;
    margin-top: 25px;
  }
  .percentage {
    font-size: 7rem;
  }
  .name__wrap sub {
    display: inline-block;
  }
}
@media (max-width: 600px) and (max-height: 325px) and (orientation: landscape) {
  .title {
    font-size: 1rem;
  }
  .buttons .button {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
  }
  .info__wrap {
    padding: 0 0 0.5rem;
  }
}
/* Pixel 2XL landscape & iPhone X landscape */
@media (min-width: 800px) and (max-width: 825px) and (max-height: 500px) and (orientation: landscape) {
  .results, .step, .upgrade {
    overflow-y: auto;
  }
  .caption-center .caption {
    top: auto !important;
    bottom: 15px !important;
    transform: translateY(0);
  }
  div[data-step="5"] {
    justify-content: flex-start;
    padding: 20px 1.25rem;
  }
  .name__wrap {
    display: inline-block;
  }
  body.step--5 .unsubscribe {
    position: relative;
    margin-top: 25px;
  }
  .match {
    font-size: 1.8rem;
  }
  .percentage {
    font-size: 6rem;
  }
  .title {
    font-size: 1rem;
  }
  .title.red span {
    padding: .155rem .655rem;
  }
  .buttons .button {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
  }
  .info__wrap {
    padding: 0.5rem 0;
  }
}
/* Portrait for all phone */
/* Screen 320px */
@media (max-width: 479px) {
  .buttons {
    width: 100%;
  }
}
